#content { 
    margin-top: -120px; 
/*    background:url("https://katalog.tub.tu-harburg.de/interface/themes/blueprint-tubhh/images/bg/bg-tile.jpg") repeat fixed 50% 0% rgb(221, 221, 221); */
    padding-top:100px; 
    padding-bottom: 0px; 
}
#content .container { background: white; }
body.undernavigation { padding-top: 56px; }
#content .banner { display: none; }
.btn-success { background-image: linear-gradient(to bottom, #5CB8CC 0px, #33B4DD 100%); border-color: #33B4DD; }
@media screen and (min-width: 768px){
    .jumbotron { padding-top: 10px; padding-bottom: 10px }
    .container .jumbotron { margin-left: 430px; margin-top:20px; }
    .container .nopadding { margin-left: 0px; padding-left: 60px; }
    .container .jumbotron .smaller { font-size: 14px; }
}

.sharingbar {
	height:20px;
	padding:10px 5px 5px;
	margin-top:20px;
	width:600px;
	margin-left: auto;
	margin-right: auto;
}

.sharingbar div.left {
	margin-left:12px;
	float:left;
}

.sharingbar div.left a {
	margin-right:5px;
}

.sharingbar div.right {
	margin-right:12px;
	float:right;
}

.sharingbar div.right a {
	cursor:pointer;
	margin-right:5px;
}

.sharingbar div.clear {
	clear: both;
}

.sharingbar a {
        text-decoration: none;
}

#tulogo {
    float: left;
    height: 105px;
    width: 230px;
}

#apbranding-box {
    background: none repeat scroll 0 0 #ffffff;
    float: right;
    height: 105px;
    padding: 0 20px;
    width: 70%;
}
/*
.sitename {
    font-size: 170%;
    font-weight: bold;
    padding: 12px 0 0 0;
}
*/
.msls {
    padding-left:10em;
    float:left;
    width:auto;
}


.wpsearch {
    float: right;
    margin-top: -30px;
    width:auto;
}

#branding #searchform {
    padding-top: 0;
    right: 7.6%;
    text-align: right;
}

#branding #s {
    float: right;
    transition-duration: 400ms;
    transition-property: width, background;
    transition-timing-function: ease;
    width: 75px;
}

.navbar-inverse {
    margin-top:3em;
    margin-bottom:3em;
}

.navbar-form {
    display:none;
}

footer.navbar-inverse {
    max-width:1000px;
    margin-left: auto ;
    margin-right: auto ;
}

.container {
    max-width:1000px;
}

ol {
    font-size:14px;
    line-height:1.3em;
}

ul {
    font-size:14px;
    line-height:1.3em;
}


li {
    font-size:14px;
    line-height:1.3em;
}

.breadcrumb {
    display:none;
}



.langChangeOn {
    display:none;
}

.col-md-2 {
width: 150px;
}

/* Administationsstools rechts  */
.col-md-3 {
    padding-top:0em;
}

.col-md-4 {
}

.col-md-9 {
    padding-top:1em;
    padding-bottom:1em;
}

.panel-primary {
    margin-top:2em;
}

.btn {
    width:auto;
}

input#s {
    background: url("../image/search.png") no-repeat scroll 5px 6px rgba(0, 0, 0, 0);
    border-radius: 2px;
    font-size: 14px;
    height: 22px;
    line-height: 1.2em;
    padding: 4px 10px 4px 28px;
}

.assistive-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

#branding {
    padding-top: 0;
    position: relative;
    z-index: 9999;
}

#page {
    margin: 2em auto;
    max-width: 1000px;
}

body {
/*    background: url("https://katalog.tub.tu-harburg.de/interface/themes/blueprint-tubhh/images/bg/bg-tile.jpg") repeat fixed 50% 0 rgb(221, 221, 221); */
    background: rgb(193, 233, 249);
}

.clear {
    clear: both;
}

a:hover, a:focus {
    cursor: pointer;
}

.tubdoksearch {
    float: left;
    padding-left: 2em;
    padding-top: 0;
    width: 25%;
}

.tubdoklogo {
    float: right;
    padding-right: 10px;
}

.sitename {
    font-size: 150%;
    font-weight: normal;
    padding: 12px 0 0;
}

#tulogosmall {
    display: none;
}
.tubdoklogosmall {
    display: none;
}



@media (max-width: 1075px) {

#apbranding-box {
    width: 60% !important;
}
.msls {
    float: left;
    font-size: 100%;
    padding-left: 5px;
    padding-right: 45px;
    padding-top: 8px;
}
.tubdoksearch {
    float: left;
    padding-left: 2em;
    padding-top: 0;
    width: 25%;
}
#main #content {
    background: #ffffff none repeat scroll 0 0;
    margin: 0 7.6%;
    width: auto;
}
}

@media (min-width:870px and max-width: 1000px) {
.tubdoklogo {
    float: right;
    margin-top:-120px;
    padding-right: 10px;
    height: 50px;
}
}

@media (max-width: 800px) {
#apbranding-box {
    width: 55% !important;
}
.msls {
    float: left;
    font-size: 100%;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 8px;
}
.tubdoksearch {
    padding-left: 40px;
    padding-right: 5px;
}
.tubdoklogo {
    display: none !important;
}
.tubdoklogosmall {
    display: block !important;
    background-color: #ffffff;
    background-image: url("/image/tub_dok_logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    height: 40px;
}
#main #content {
    background: #ffffff none repeat scroll 0 0;
    margin: 0 7.6%;
    width: auto;
}
}

@media (min-width: 200px) and (max-width: 680px) {
#page {
    margin: 0em auto;
    max-width: 1000px;
}
.msls {
    padding-left: 30px !important;
    padding-right: 5px !important;
}
.tubdoksearch {
    float: left;
    padding-top: 0;
    width: 25%;
}
#main {
    padding: 0;
}
#tulogo {
    display: none !important;
}
.tubdoklogo {
    display: none !important;
}
#tubdoklogomobile {
    display: block !important;
    background-color: #ffffff;
    background-image: url("/image/tub_dok_logo.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 80px;
    float: right;
    width: 50%;
    padding-right: 1.5em !important;
}
.tubdoklogosmall {
    display: none !important;
}
#tulogosmall {
    background-color: #ffffff;
    background-image: url("/image/TUHH-Logo.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 60px;
    display: block !important;
    height: 80px;
    padding-left: 1.5em !important;
    width: 50%;
    float: left;
}
#apbranding-box {
    clear: both !important;
    display: block;
    float: none !important;
    margin-top: -25px;
    padding: 0;
    width: 100% !important;
}
.sitename {
    padding-bottom: 10px;
    text-align: center;
}
#tequery {
    width: 100px;
}
}

